<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5"> MedifliStats - ProfileUsers</h1>
    </div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Insertar ProfileUser</h5>
                    </div>
                    <div class="card-body">
                        <form action="/profile-users/profileAdded" method="POST">
                            <label>Nombre del Profile</label>
                            <input type="text" class="form-control mb-3" name="profileUser" required>
                            <br><br>
                            <label>PIN del Profile</label>
                            <input type="number" class="form-control mb-3" name="pin" max="4" required>
                            <br><br>
                            <label>¿A qué usuario se asocia este perfil?</label>
                            <input type="text" class="form-control mb-3" name="nameUser">
                            <br><br>
                            <label>¿Qué idioma quieres usar?</label>
                            <input type="text" class="form-control mb-3" name="nameLanguage">
                            <br><br>
                            <button class="btn btn-primary" type="submit"> Añadir </button>
                        </form>
                    </div>
                    <div class="card-header">
                        <h5 class="text-center">Modificar ProfileUser</h5>
                    </div>
                    <div class="card-body">
                        <form action="/profile-users/profileUpdated" method="POST">
                            <input type="hidden" name="method" value="PUT">
                            <label for="idProfile">¿Qué id tiene el Profile que quieres modificar?</label>
                            <input type="number" id="idProfile" name="idProfile" required>
                            <br><br>
                            <label>¿Qué nombre deseas poner?</label>
                            <input type="text" class="form-control mb-3" name="profileUser">
                            <br><br>
                            <label>¿Quieres cambiar la contraseña?</label>
                            <input type="number" class="form-control mb-3" name="pin" max="4">
                            <br><br>
                            <label>¿A qué idioma quieres cambiar?</label>
                            <input type="text" class="form-control mb-3" name="nameLanguage">
                            <br><br>
                            <button class="btn btn-primary" type="submit"> Guardar </button>
                        </form>
                    </div>
                    <div class="card-header">
                        <h5 class="text-center">Borrar ProfileUser</h5>
                    </div>
                    <div class="card-body">
                        <form action="/profile-users/profileDeleted" method="POST">
                            <input type="hidden" name="method" value="DELETE">
                            <label>¿Qué id tiene el Profile que deseas borrar?</label>
                            <input type="number" id="idProfile" class="form-control mb-3" name="idProfile">
                            <button class="btn btn-primary" type="submit"> Borrar </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>