<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5"> MedifliStats - Reviews</h1>
    </div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Insertar Review</h5>
                    </div>
                    <div class="card-body">
                        <form action="/reviews/reviewAdded" method="POST">
                            <label>¿Desde qué perfil estás creando la Review?</label>
                            <input type="number" class="form-control mb-3" name="idProfileUser" required>
                            <br><br>
                            <label>¿De qué contenido quieres hacer la Review?</label>
                            <input type="number" class="form-control mb-3" name="idContent" required>
                            <br><br>
                            <label>¿Qué valoración le pones?</label>
                            <input type="number" class="form-control mb-3" name="rating" max="10" required>
                            <br><br>
                            <label>¿Quieres añadir un comentario?</label>
                            <input type="text" class="form-control mb-3" name="commentary">
                            <br><br>
                            <button class="btn btn-primary" type="submit"> Añadir </button>
                        </form>
                    </div>
                    <div class="card-header">
                        <h5 class="text-center">Modificar Review</h5>
                    </div>
                    <div class="card-body">
                        <form action="/reviews/reviewUpdated" method="POST">
                            <input type="hidden" name="method" value="PUT">
                            <label for="idReview">¿Qué id tiene la Review que quieres modificar?</label>
                            <input type="number" id="idReview" name="idReview" required>
                            <br><br>
                            <label>¿Quieres cambiar la valoración?</label>
                            <input type="number" class="form-control mb-3" name="rating" max="10" required>
                            <br><br>
                            <label>¿Quieres cambiar el comentario?</label>
                            <input type="text" class="form-control mb-3" name="commentary">
                            <br><br>
                            <button class="btn btn-primary" type="submit"> Guardar </button>
                        </form>
                    </div>
                    <div class="card-header">
                        <h5 class="text-center">Borrar Review</h5>
                    </div>
                    <div class="card-body">
                        <form action="/reviews/reviewDeleted" method="POST">
                            <input type="hidden" name="method" value="DELETE">
                            <label>¿Qué id tiene la Review que deseas borrar?</label>
                            <input type="number" id="idReview" class="form-control mb-3" name="idReview">
                            <button class="btn btn-primary" type="submit"> Borrar </button>
                        </form>
                    </div>
                    <div class="card-header">
                        <h3 class="text-center">Obtener Review por su Id</h3>
                    </div>
                    <div class="card-body">
                        <form action="/reviews/reviewFound" method="GET">
                            <label>Id de la Review</label>
                            <input type="number" class="form-control mb-3" name="idReview">
                            <button class="btn btn-primary" type="submit"> Buscar </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>