<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5 mb-5"> MedifliStats - Reviews</h1>
</div>
<div class="container">
    <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">Insertar Review</h5>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewAdded" method="POST">
                        <label>¿Desde qué perfil estás creando la Review?</label>
                        <input type="number" class="form-control mb-3" name="idProfile" required>
                        <br><br>
                        <label>¿De qué contenido quieres hacer la Review?</label>
                        <input type="number" class="form-control mb-3" name="idContent" required>
                        <br><br>
                        <label>¿Qué valoración le pones?</label>
                        <input type="number" class="form-control mb-3" name="rating" min="1" max="10" required>
                        <br><br>
                        <label>¿Quieres añadir un comentario?</label>
                        <input type="text" class="form-control mb-3" name="commentary">
                        <br><br>
                        <button class="btn btn-primary" type="submit"> Añadir</button>
                    </form>
                </div>
                <div class="card-header">
                    <h5 class="text-center">Modificar Review</h5>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewUpdated" method="POST">
                        <input type="hidden" name="method" value="PUT">
                        <label for="idReview">¿Qué id tiene la Review que quieres modificar?</label>
                        <input type="number" id="idReview" name="idReview" required>
                        <br><br>
                        <label>¿Quieres cambiar la valoración?</label>
                        <input type="number" class="form-control mb-3" name="rating" min="1" max="10" required>
                        <br><br>
                        <label>¿Quieres cambiar el comentario?</label>
                        <input type="text" class="form-control mb-3" name="commentary">
                        <br><br>
                        <button class="btn btn-primary" type="submit"> Guardar</button>
                    </form>
                </div>
                <div class="card-header">
                    <h5 class="text-center">Borrar Review</h5>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewDeleted" method="POST">
                        <input type="hidden" name="method" value="DELETE">
                        <label>¿Qué id tiene la Review que deseas borrar?</label>
                        <input type="number" id="idReview" class="form-control mb-3" name="idReview">
                        <button class="btn btn-primary" type="submit"> Borrar</button>
                    </form>
                </div>
                <div class="card-header">
                    <h3 class="text-center">Obtener Todas las Reviews</h3>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewsListed" method="GET">
                        <label>Listar todas las valoraciones</label>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
                <div class="card-header">
                    <h3 class="text-center">Obtener Review por Id</h3>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewFound" method="GET">
                        <label>¿Qué Review deseas buscar?</label>
                        <input type="number" class="form-control mb-3" name="idReview" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
                <div class="card-header">
                    <h3 class="text-center">Resto de búsquedas de reviews</h3>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewsByIdContent" method="GET">
                        <label>¿Sobre qué contenido deseas buscar la Review?</label>
                        <input type="number" class="form-control mb-3" name="idContent" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewsByIdProfile" method="GET">
                        <label>¿Sobre qué perfil deseas buscar la Review?</label>
                        <input type="number" class="form-control mb-3" name="idProfile" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewsByRating" method="GET">
                        <label>¿Sobre qué valoración deseas buscar la Review?</label>
                        <input type="number" class="form-control mb-3" name="rating" max="10" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewsByMinRating" method="GET">
                        <label>¿Sobre qué valoración mínima deseas buscar la Review?</label>
                        <input type="number" class="form-control mb-3" name="rating" max="10" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewsByMaxRating" method="GET">
                        <label>¿Sobre qué valoración máxima deseas buscar la Review?</label>
                        <input type="number" class="form-control mb-3" name="rating" max="10" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewsWithCommentary" method="GET">
                        <label>Listar todas las valoraciones con comentarios</label>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
                <div class="card-body">
                    <form action="/reviews/reviewsWithoutCommentary" method="GET">
                        <label>Listar todas las valoraciones sin comentarios</label>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
                <div class="card-header">
                    <h3 class="text-center">Obtener estadísticas de Reviews</h3>
                </div>
                <div class="card-body">
                    <form action="/reviews/stats" method="GET">
                        <label>¿Sobre qué contenido deseas buscar la Review?</label>
                        <input type="number" class="form-control mb-3" name="idContent" required>
                        <button class="btn btn-primary" type="submit"> Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>