<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5"> MedifliStats - Views</h1>
    </div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Insertar Views</h5>
                    </div>
                    <div class="card-body">
                        <form action="/views/viewAdded" method="POST">
                            <label>¿Desde qué perfil estás creando la View?</label>
                            <input type="number" class="form-control mb-3" name="idProfile" required>
                            <br><br>
                            <label>¿De qué contenido quieres hacer la View?</label>
                            <input type="number" class="form-control mb-3" name="idContent" required>
                            <br><br>
                            <label>¿Cuándo has empezado a verlo?</label>
                            <input type="date" class="form-control mb-3" id="dateInit" name="dateInit" required>
                            <br><br>
                            <label>¿Cuándo has terminado de verlo?(Opcional)</label>
                            <input type="date" class="form-control mb-3" id="dateFinish" name="dateFinish">
                            <br><br>
                            <button class="btn btn-primary" type="submit"> Añadir </button>
                        </form>
                    </div>
                    <div class="card-header">
                        <h5 class="text-center">Modificar View</h5>
                    </div>
                    <div class="card-body">
                        <form action="/views/viewUpdated" method="POST">
                            <input type="hidden" name="method" value="PUT">
                            <label for="idView">¿Qué id tiene la View que quieres modificar?</label>
                            <input type="number" id="idView" name="idView" required>
                            <br><br>
                            <label>¿Cuándo has terminado de ver el contenido?(Opcional)</label>
                            <input type="date" class="form-control mb-3" id="dateFinish" name="dateFinish" required>
                            <br><br>
                            <button class="btn btn-primary" type="submit"> Guardar </button>
                        </form>
                    </div>
                    <div class="card-header">
                        <h5 class="text-center">Borrar View</h5>
                    </div>
                    <div class="card-body">
                        <form action="/views/viewDeleted" method="POST">
                            <input type="hidden" name="method" value="DELETE">
                            <label>¿Qué id tiene la View que deseas borrar?</label>
                            <input type="number" id="idView" class="form-control mb-3" name="idView">
                            <button class="btn btn-primary" type="submit"> Borrar </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>